<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sana.com.plugin.mockApp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MockApp"
            android:label="@string/app_name"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />

            <intent-filter>
                <action android:name="sana.com.plugin.mockApp.HEART_BEAT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothRecordingActivity"
            android:label="@string/title_activity_audio_recording" >
        </activity>
        <activity
            android:name=".AudioRecordActivity"
            android:label="@string/title_activity_audio_record" >
        </activity>
        <activity
            android:name=".TakePhotoOrVideoActivity"
            android:label="@string/title_activity_take_photo_or_video" >
        </activity>
        <activity
            android:name=".UsbAccessoryRecordActivity"
            android:label="@string/title_activity_usb_accessory_record" >
        </activity>
    </application>

</manifest>
